source:
    - vendor/puli/repository/src
    - vendor/puli/discovery/src
    - vendor/puli/url-generator/src
    - vendor/puli/factory/src
    - vendor/puli/manager/src
    - vendor/puli/symfony-bridge/src
    - vendor/puli/twig-extension/src
    - vendor/webmozart/key-value-store/src

title: Puli API

baseUrl: http://api.puli.io/latest

googleAnalytics: UA-8282807-3
